.sites{
    margin: 58px auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.site img{
   width: 100%;
   border-radius: 10px;
   display: block; 
}
.site{
    flex-basis: 25%;
}