.home{
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Change the color and opacity as needed */
    z-index: 0;
}

.home-text {
    position: relative;
    z-index: 1; /* Ensure the text and button are above the overlay */
    color: white; /* Example text color */
    text-align: center; /* Center text alignment */
    max-width: 1000px;
}

.home-text h1{
    font-size: 48px;
    font-weight: 600;
}

.home-text p{
    max-width: 1000px;
    margin: 10px auto 20px;
    line-height: 1.4;
    font-size: 20px;
    font-weight: 350;
}
