.site{
    margin: 100px auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.site-left{
    flex-basis: 45%;
}
.site-right{
    flex-basis: 45%;
}
.site-img1{
    width:50%;
    border-radius: 10px;
}


