/* index.css */

@import './theme.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family-primary);
}

body {
  background: var(--secondary-50);
}

a {
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}

.container {
  padding-left: 10%;
  padding-right: 10%;
}

.btn {
  background: var(--primary-100);
  color: var(--white);
  padding: 14px 25px;
  font-size: 18px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
}
.btn:hover {
  background: var(--primary-200);
}

.btn_secondary {
  background: var(--accent-50);
  color: var(--white);
  padding: 14px 25px;
  font-size: 18px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
}
.btn_secondary:hover {
  background: var(--accent-100);
}

.btn_primary {
  color: var(--white);
  padding: 14px 25px;
  font-size: 20px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
}
.btn_primary:hover {
  background: var(--primary-200);
}
